.places {
    width: 984px;
    height: 3338px;
    top: 2403px;
    left: 148px;
}

.places__title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;

    color: #ffffff;
}
