.lead {
  max-width: 984px;
  margin: 0 auto;
  text-align: center;
}

.lead__title {
  position: absolute;
  width: 720px;
  height: 200px;
  left: 280px;
  top: 194px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* ou 104% */
  text-align: center;

  color: #ffffff;
}

.lead__subtitle {
  max-width: 720px;
  margin: 32px auto 64px;
  font-size: 30px;
  line-height: 1.2;
}

.lead__image {
  width: 100%;
}
