.places {
  max-width: 984px;
  margin: auto 148px;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

.place {
  display: grid;
  grid-template-columns: 722px 1fr;
  gap: 40px;
}

.place__title {
  font-size: 72px;
  font-weight: 900;
}

.place__image {
  width: 100%;
}

.place__paragraph {
  line-height: 1.6;
}

.place__button {
  display: inline-block;

  padding: 13px 20px;

  background: #0278fe;
  color: #fff;

  text-decoration: none;
  border-radius: 4px;
}
